/*put your scss here*/
@import url(http://fonts.googleapis.com/css?family=Orbitron:400,500,700);
@import url(https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css);
@import 'colors';
@import 'variables';

@import 'icons';
$hue: (360 / 8);
@for $i from 1 through 8{
	$deg: $i * $hue;
	$bk-clr: hsla($deg, 40%, 40%, 1);
	section div:nth-of-type(#{$i}){
		background-color: $bk-clr;
	}
} 

$iconsizes: 2rem 2.2rem 2.5rem 2.8rem 3rem 3.5rem 4rem 4.4rem;

@each $iconsize in $iconsizes {
	$i: index($iconsizes, $iconsize);
	section div:nth-of-type(#{$i}){
		font-size: #{$iconsize};
		@if ($iconsize > 3rem){
		font-size: ($iconsize / 2);
		}
	}
}



div button.mbtn {
	margin-top: 8px;
}



body {
	font-family: 'Orbitron', sans-serif;
}

section div{
	height: 20vw;
	width: 29%;
	margin-top: 25px;
	
}

div {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;

}

section {
	
	
	background-color: $base;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
	align-items: center;
	margin-top: 50vw;
	
	background: {
		image: url(../img/nightsky.png);
		size: cover;
		position: center;
		repeat: no-repeat;
		attachment: fixed;
	}
	p {
		text-indent: 30px;
	}
	

}

/*============== Navagation*/
.mnav{
	background-color: $nav;
	
} 

.navbar-default .navbar-nav li a {
		text-shadow: 1px 1px 1px  black;
		color: saturate($color: $base, $amount: 50);
	}

.btn {
	margin-top: 0;
}
.mine {
	background-image: url("../img/beasts.png"); 
	position: absolute;
	background-attachment: fixed;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center center;
	height: 50vw;
	width: 100%;
	&:hover {
		background-image: url('../img/monstere.png');
	}
	a {
		text-decoration: none;
		color: hsla(2,50% ,50% , 1 );
		text-shadow: 1px 1px 1px hsl(0,	0%, 0%);
		font-weight:  700;
	}
		p{
			text-shadow: 1px 1px 1px hsl(0, 0%, 100%);
			font-weight: 600;
		}
}
	
footer {
	display: block;
	width: 100%;
	text-align: center;
	background-color: transparent;
	color: hsl(0, 0%, 100%);
	
}	
	
	
	

