
.jumbotron {
	height: 440px;
	background:{
		image: url('../img/banner.jpg');
		repeat: no-repeat;
		position: center;
		size: cover;

	}
}

.word {
		background-color: hsla(0,0%,93%, 1);
}

.bannerbtm {
	text-align: center;
}