@import url(http://fonts.googleapis.com/css?family=Source+Sans+Pro:400,300,600,700);

$white: hsla(0, 0%, 100%, 1);
$black: hsla(0, 0%, 0%, 1);


body {
	font-family: 'Source Sans Pro', sans-serif;
	color: $white;
}

strong {
	color: $white;
}

a {
	list-style: none;
	text-decoration: none;
}


// ============= Nav
.navbar-default .navbar-nav>li>a {
	font-size: 1.25em;
	color: $white;
	padding: 10px 20px;
}



nav {
	margin: 0;
	padding: 0;
	text-decoration: none;
	li {
		color: $white;
		padding: 5px;
	}
}

.trans-box {
	color: $white;
	border: 1px solid $white;
	border-radius: 10px;
	
}

.trans-box-lg {
	color: $white;
	margin-top: 10px;
	background-color: transparent;
	border: 1px solid $white;
	border-radius: 15px;
	color: lighten($white, 20);
	padding:  20px 70px;
	font-size: 120%;
	&:hover {
		text-decoration: none;
	}
}

.reg-box {
	margin-top: 10px;
	background-color: $white;
	border: 1px solid $white;
	border-radius: 15px;
	color: lighten($black, 20);
	padding:  20px 80px;
	font-size: 120%;
}

// ============== banner

.main-img {
	margin-top: -52px;
	height: 550px;
	background:{
		image: url('../img/banner.jpg'), url('../img/overlay.png');
		size:   cover;
		position: top left, center center;
		repeat: repeat, no-repeat;
		attachment: fixed;
	}
}

.captain {
	color: 	$white;
	text-align: center;
	padding-top: 10%;
	h1{
		font-weight: 300;
		font-size: 74px;
	}
	p {
		margin: 0 0 26px ;
		font-size: 34px;
		line-height: 2;
	}
}

// ============= main section

section {
	background-color: $white;
	margin-left: 16.6%;
	width: 66.6%;
	margin-top: -40px;
}


