@import "variables";

#naruto {
	background-color: $bk-clr;
}

main img {
    width: 200px;
    border-radius: 50%;
    position: absolute;
    left: 260px;
    padding: 10px;
    border: 1px solid hsl(0, 0%, 50%);
    background-color: hsl(0, 0%, 70%);
    transition: left 2s ease-in-out;
    &:hover {
		left: 6%;
	}

}

.container {
		display: flex;
		justify-content: center;
}


article {
		display: flex;
		flex-direction: column;
		justify-content: flex-start;
		align-items: flex-start;
		width: 90%;
		height: 70%;
		text-shadow: 1px 1px 1px $mcw;
		background-color: $bk-clr2;
		padding: 10px 40px ;
		margin: 0;
		position: relative;
		font-weight: 700;
		
}


article h1{
		text-align: center;
		font-size: 3rem;
		margin-bottom: 0px;
}

article p {
		text-indent: 40px;
		font-size: 1.5rem;
		line-height: 3.4;
		margin: 20px;

}

article h2 {
		font-size: 20px;
		text-align: left;
		
}

.work {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	border: 1px solid $bk-clr2;
	background-color: $bk-clr2;
	width: 90%;

	a {
		border: 1px solid hsla(200, 50%, 50%, .8);
		text-align: center;
		color: $mcb;
		text-shadow: 1px 1px 1px $mcw;
		font-weight: 700;
		font-size: 1.25rem;
		padding: 5px 30px;
		margin: 5%;
		text-decoration: none;
	}
}

@for $i from 1 through 8 {
	$deg: $i * 45;
	$back-clr: hsla($deg, 50%, 50%, .8);
	.work a:nth-of-type(#{$i}){
		background-color: $back-clr;
	}
}