 html {
    font-family: 'Orbitron', sans-serif;
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
   
}

body {
   font-family: 'Orbitron', sans-serif;
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
   
}

div{
    width: 100%;

}

br {
	border: 20px solid transparentize($mcb, .20)
}

li {
	margin: 0;
	padding: 0;
}