

@media screen and(min-width: 865px) and (max-width: 1483px){
	main img {
			left: 190px;
			top: 125px;
			transition: all 1s ease-in-out;
			&:hover {
				top: 10px;
			}
	}
}




@media screen and (min-width: 526px) and (max-width: 864px){
	main img {
		top: 190px;
		left: 280px;
		transition: all 1s ease-in-out;
		&:hover {
			top: 5px;
		}
	}
}


@media screen and (min-width: 100px) and (max-width: 525px){
	main img {
		top: 250px;
		left: 10px;
		transition: all 1s ease-in-out;
		&:hover {
			top: 0;
		}
	}
}



@media print {
	html, footer{
		background-color: $mcw;
		p{
		color: $mcb;
		}
	}
	.mine {
		background-color: invert($mcb);
		color: $mcb;
		i {
			color: $mcb;
		}
	}
	header {
		display: none;
		
	}
	 a[href]::after {
	    content: none;
	  }
}







