@import 'variables';
.mine {

	border: 1px solid $mcw;
	color: transparentize($mcw, .3);
}

.info{
		display: flex;
		flex-direction: column; 
		h1{
		
	}
	h2 {

	}
	h3 {

	}
	h4 {

	}
	ul{
		display: flex;

		flex-direction: column;
		justify-content: flex-start;
		align-items: flex-start;
		list-style: none;
		margin:0 0px 0 0px;
		

		li {
			text-align: right;
			
		a {	
			text-decoration: none;
			font-size: 100%;
			line-height: .5;
			flex-wrap: no-wrap;
			}
		}
		
	}
}




