@import 'variables';

.mine {
	text-shadow: 2px 2px 2px $mcb;
	border: 1px solid $mcw;
	background-color: transparentize($mcg, .60);
	color: transparentize($mcw, .1);
}

.info{
		display: flex;
		flex-direction: column; 
	
	ul{
		display: flex;

		flex-direction: column;
		justify-content: flex-start;
		align-items: flex-start;
		list-style: none;
		margin: 0;
		padding: 0;
		flex-wrap: nowrap;
			
		a {	
			text-decoration: none;
			font-size: 100%;
			line-height: .5;
			
		}
	}
}

@for $i from 1 through 6{
	$deg: $i * 70;
	$bg-clr: hsla($deg, 50%, 50%, 1);
	div.resume li:nth-of-type(#{$i}){
		color: $bg-clr;
	}
}

#sushi {
	
	background-image: linear-gradient(45deg, green 10%,  red 45%, purple 10%, blue 35%, );
	background-attachment: fixed;
}

