$mcw: hsla(0, 0%, 100%, 1);
$mcb: hsla(0, 0%, 0%, 1);
$mcg: hsla(0, 0%, 60%, 1 );
$ncp: hsla(273, 30%, 50%, 1);
$ncb: hsla(200, 90%, 45%, 1);
$nacr: hsla(360, 93%, 50%, 1);
$neong: hsla(110, 100%, 30%, 1);

%clearfix {
	&::before,
	&::after {
		content: "";
		display: block;
		clear: both;
	}
}





