a {
	color:  hsla(347, 70%, 53%, 1);
	text-decoration: underline;
}

.content {
	padding-top: 40px;
	padding-bottom: 40px;
}

h2{
		font-size: 125%;
	}

.btn-mine {
    color: hsla(0, 0%, 100%, 1);
    text-decoration: none;
    background-color: hsla(347, 70%, 53%, 1);
    border-color: darken(hsl(0, 65%, 82%), 10);
    &:hover {
    	color: hsla(0, 0%, 100%, 1);
		background-color: lighten(hsla(347, 70%, 53%, 1), 10);
    }
}

.hero {
	height: 440px;
	background: {
		image: url("../img/banner.jpg");
		position: center;
		repeat: no-repeat;
		size: cover;
	}
}

.hero-header {
	background-color: hsla(0, 0%, 93%, 1);
	padding: 40px;
	text-align: center;
}

.navbar {
    margin-bottom: 0;
    border: none;
    padding: 20px 0;
}

.navbar-default {
    background-color: #fff;
}

#welcome, #lists {
	ul{
		margin:0;
		padding:0;
	}
	li {
		border-bottom: 1px solid hsla(0, 0%, 90%, 1);
		list-style: none;
		padding: 12px 0;

		&::before {
			content: "\e013";
			display: inline-block;
			width: 24px;
			height: 24px;
			margin-right: 5px;
			text-align: center;
			line-height: 24px;
			background-color: hsla(347, 70%, 53%, 1);
			color: hsla(0, 0%, 100%, 1);
				-o-text-rendering: optimizeLegibility;
				-ms-text-rendering: optimizeLegibility;
				-moz-text-rendering: optimizeLegibility;
				-webkit-text-rendering: optimizeLegibility;
				text-rendering: optimizeLegibility;

				-o-font-smoothing: antialiased;
				-ms-font-smoothing: antialiased;
				-moz-font-smoothing: antialiased;
				-webkit-font-smoothing: antialiased;
				font-smoothing: antialiased;
			text:{
				decoration: none;
			}
			font: {
				family: 'Glyphicons Halflings';			
				size: 18px;
				weight: normal;
				style: normal;
				
			}
		}
		a {
			vertical-align: top;
		}
	}

}

#welcome {
	
	h3 {
		font-size: 110%;
		margin-top: 0;
		margin-bottom: 50px;
	}
}

#promo {
	.content {
		text-align: center;
	}
	i{
		background-color: hsla(347, 70%, 53%, 1);
		font-size: 30px;
		color: hsla(0, 0%, 100%, 1);
		display: inline-block;
		width: 80px;
		height: 80px;
		line-height: 80px;
	}

}

#lists {
	background-color: hsla(347, 70%, 53%, 1);
	h2, a {
		color: hsla(0, 0%, 100%, 1);
	}
	li::before {
		background-color: hsla(0, 0%, 100%, 1);
		color: hsla(347, 70%, 53%, 1);
	}
}

