/*put your scss here*/
li {
  list-style: none;
}

@media screen and (max-width: 600px) {
  nav {
    margin: 0;
    padding: 0;
    background-color: green;
    text-align: center;
  }

  aside {
    height: 20px;
    widows: 30px;
    position: absolute;
    top: -60;
    overflow: hidden;
  }

  article {
    width: 100%;
    margin: 0;
    text-align: center;
    background-color: blue;
  }

  footer {
    background-color: yellow;
    text-align: center;
  }
}
@media screen and (min-width: 600px) {
  body {
    background-color: purple;
    color: white;
  }

  nav {
    width: 100%;
    display: block;
  }
  nav ul {
    float: left;
    width: 100%;
  }
  nav li {
    float: left;
  }
  nav a {
    padding: 10px;
    color: yellow;
  }

  article {
    width: 50%;
    float: left;
  }

  aside {
    float: left;
    padding-top: 90px;
    width: 49%;
    height: 00px;
  }

  footer {
    width: 100%;
    float: left;
  }
}
