a {
  color: #db3358;
  text-decoration: underline;
}

.content {
  padding-top: 40px;
  padding-bottom: 40px;
}

h2 {
  font-size: 125%;
}

.btn-mine {
  color: white;
  text-decoration: none;
  background-color: #db3358;
  border-color: #e68989;
}
.btn-mine:hover {
  color: white;
  background-color: #e35f7b;
}

.hero {
  height: 440px;
  background-image: url("../img/banner.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.hero-header {
  background-color: #ededed;
  padding: 40px;
  text-align: center;
}

.navbar {
  margin-bottom: 0;
  border: none;
  padding: 20px 0;
}

.navbar-default {
  background-color: #fff;
}

#welcome ul, #lists ul {
  margin: 0;
  padding: 0;
}
#welcome li, #lists li {
  border-bottom: 1px solid #e6e6e6;
  list-style: none;
  padding: 12px 0;
}
#welcome li::before, #lists li::before {
  content: "\e013";
  display: inline-block;
  width: 24px;
  height: 24px;
  margin-right: 5px;
  text-align: center;
  line-height: 24px;
  background-color: #db3358;
  color: white;
  -o-text-rendering: optimizeLegibility;
  -ms-text-rendering: optimizeLegibility;
  -moz-text-rendering: optimizeLegibility;
  -webkit-text-rendering: optimizeLegibility;
  text-rendering: optimizeLegibility;
  -o-font-smoothing: antialiased;
  -ms-font-smoothing: antialiased;
  -moz-font-smoothing: antialiased;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
  text-decoration: none;
  font-family: 'Glyphicons Halflings';
  font-size: 18px;
  font-weight: normal;
  font-style: normal;
}
#welcome li a, #lists li a {
  vertical-align: top;
}

#welcome h3 {
  font-size: 110%;
  margin-top: 0;
  margin-bottom: 50px;
}

#promo .content {
  text-align: center;
}
#promo i {
  background-color: #db3358;
  font-size: 30px;
  color: white;
  display: inline-block;
  width: 80px;
  height: 80px;
  line-height: 80px;
}

#lists {
  background-color: #db3358;
}
#lists h2, #lists a {
  color: white;
}
#lists li::before {
  background-color: white;
  color: #db3358;
}
