#header::before, #header::after {
  content: "";
  display: block;
  clear: both;
}

*, *::before, *::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
}

#header {
  height: 48px;
  z-index: 2;
}
#header h1 {
  padding: 15px;
  font-size: 15px;
}
#header h1 a {
  color: #fff;
  list-style: none;
  text-decoration: none;
}

nav a {
  float: left;
  color: #fff;
  list-style: none;
  text-decoration: none;
  padding: 15px;
  line-height: 15px;
}
nav ul {
  float: right;
  margin: -62px 25px 0px 5px;
  padding: 0;
}
nav ul li {
  display: inline-block;
  line-height: 38px;
}

.btn {
  color: black;
  background-color: rgba(255, 255, 255, 0.7);
  border: 1px solid rgba(255, 255, 255, 0.7);
  border-radius: 10px;
  line-height: 10px;
}

.main-img {
  background-image: url("../img/taxi.jpg");
  /* background-repeat: no-repeat; */
  background-size: 100% 100%;
  background-position: center;
  position: fixed;
  left: 0;
  right: 0;
  width: 2000px;
  height: 600px;
  margin-top: -58px;
  z-index: -1;
  -webkit-filter: blur(5px);
  filter: blur(5px);
}
